<table class="table">
	<thead>
		<tr>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	</thead>

	<tbody>
		<% users.each do |user| %>
		<tr>
			<td><%= attachment_image_tag(user, :image, size:"50x50", fallback:"no_image.png") %></td>
			<td><%= link_to user.name, user_path(user) %></td>

		<% if user != current_user %>
			<td id="relationship<%= user.id %>">
				<%= render partial: 'relationships/relationship', locals: { user: user } %>
			</td>
	  <% end %>
		</tr>
		<% end %>
	</tbody>
</table>