<div class="container">
	<div class="row">
		<div class="col">
			<h3>タイムライン</h3>
			<hr>
			<% if @posts.exists? %>
				<%= render 'posts/post_list', posts: @posts %>
				<%= paginate @posts %>
			<% else %>
				<p>気になる人をフォローしよう</p>
			<% end %>
		</div>
	</div>
</div>
