<div class="container">
	<div class="row">
		<div class="col">
			<h3>タイムライン</h3>
			<% if @posts.exists? %>
				<%= render 'posts/post_list', posts: @posts %>
			<% else %>
				<p>だれかフォローしよう</p>
			<% end %>
		</div>
	</div>
</div>
