<% if model.errors.any? %>
	<div class="alert alert-warning">
		<ul>
			<h3><%= model.errors.count %>件のエラーがあります。</h3>
			<% model.errors.full_messages.each do |message| %>
			<li><%= message %></li>
			<% end %>
		</ul>
	</div>
<% end %>