/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bxslider
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

//header
 header {
 	height: 60px;
 }
.navbar-default {
  background-color: #99CCCC;
}

body {
  background-color: #FFFFF0;
  color: black;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

//footer
.wrapper{
    min-height: 100vh;
}
footer{
    width: 100%;
    background-color: #99CCCC;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

// 通知アイコンの設定---------------------------
.notification-relative {
  position: relative;

  & .notification-absolute {
  color: gold;
  position:absolute;
  top: 1rem;
  padding-left: 1rem;
  }
}

//リンク線消す header
.text-style {
  font-size: 2em;
  & a{
      text-decoration: none;
      color: black;
  }
}

//home
.top-box {
  background-image: image-url('top3.jpg');
  background-size: cover;
  width:100%;
  height:450px;
}

.box-title {
  color: black;
  font-family: 'Impact';
  padding: 80px 0  0 100px;
}

.box-text {
  color: black;
  font-size: 2em;
  font-family: 'Impact';
  padding: 80px 0  0 100px;
}

.top-text {
  font-size: 18px;
}

.about{
  text-align: center;
  margin-top: 30px;
}
.about-image{
  font-size: 25px;
}

.about-text{
  padding-top: 10px;
  text-align: center;
  font-size: 15px;
}

//sign-form
.sign-title {
  text-align: center;
  padding-top: 20px;
}

.sign-message {
  text-align: center;
}

.sign-form {
  padding-top: 50px;
}

.devise-table{
    th{
      color: #747474;
      font-size: 1.1em;
      border-top: 0px !important;
    }
    td{
      border-top: 0px !important;
    }
}

//error_messe
.error-massege {
  background-color: #f8d7da;
  ul {
    list-style: none;
  }
}