// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//post.show
.postbox {
  padding: 50px;
  margin-bottom: 20px;
  border-radius: 15px;
  background-color: #F5F5F5;
}

.title {
  margin-left: 120px;
}

.post-image {
  width: 460px;
  height: 400px;
}

//post.new
.post-title {
  text-align: center;
  padding-top: 20px;
  margin-bottom: 30px;
}
.field-post {
  padding-bottom: 50px;
}
.my-box-search {
  margin: 20px;
  float: left;
}

//post_list
.post-container{
  display: flex;
  flex-flow: column wrap;
}
.post-header {
  display: flex;
  justify-content: space-between;
}