// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-title {
  text-align: center;
  padding-top: 20px;
  margin-bottom: 50px;
}

//refile
#image-select {
	display: none;
}

.user-profile-button {
	margin: 20px;
	width: 40%;
}

//user.show
.chat-block {
	padding-top: 10px;
}
